
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Yomogi&display=swap');

.heading{
    margin: 20px;
}

.paragraph{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: 'Montserrat';
}

.form-container{
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.comment{
    height: 100px;
    width: 1000px;
    float: bottom;
}

.select-rating{
    width: 100%;
    height: 25px;
    user-select: none;
}

.detail-container{
    position: relative;
}

.rating{
    float: right;
    padding-right: 10%;
}

@media only screen and (max-width: 600px){
    .hide{
        display: none;
    }

    .column-left{
        width: 100%;
    }
}

.input-areas{
    display: flex;
}

.comment{
    height: 100px;
    width: 400px;
}


.like-dislike{
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
}


