
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Yomogi&display=swap');

.heading{
    margin: 20px;
    margin-bottom: 40px;
    font-size: 6vh;
}

.paragraph{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: 'Montserrat';
}

.form-container{
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.comment{
    height: 100px;
    width: 1000px;
    float: bottom;
}

.select-rating{
    width: 100%;
    height: 25px;
    user-select: none;
}

.detail-container{
    position: relative;
}

.rating{
    float: right;
    display: table;
    align-content: center;
    position: relative;
    top: 10px;
    left: 10px;
    padding-right: 10%;
}

.fa-thumbs-down{
    margin-top: 10px;
}

@media only screen and (max-width: 960px){
    .hide{
        display: none;
    }

    .column-left{
        width: 100%;
    }
}

.input-areas{
    display: flex;
}

.comment{
    height: 100px;
    width: 400px;
}


.like-dislike{
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
      opacity: 0.5;
    }
    25% {
        transform: rotate(25deg);
        opacity: 0.5;
    }
    50% {
        transform: rotate(0deg);
        opacity: 0.5;
    }
    75% {
        transform: rotate(-25deg);
        opacity: 0.5;
    }
    100% {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

.like-dislike:active{
    color:grey;
    animation-name: rotate;
    animation-duration: 0.2s;

}

.like-dislike:hover{
    color: grey;
}




