
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Yomogi&display=swap');

.heading{
    margin: 20px;
}

.paragraph{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: 'Montserrat';
}